.main {
  display: flex;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  padding: 1rem;
  width: 100vw;
  height: 100px;
  box-shadow: 1px 1px 2px #757575;
  z-index: 2;
}

.navImg {
  display: flex;
  height: 100%;
  margin: 0.5rem;
  max-width: 40%;
  object-fit: contain;
}

.linkList {
  display: flex;
  width: fit-content;
  justify-self: end;
}

.navLink {
  display: flex;
  margin: 1rem;
}

.homeImgContainer {
  display: flex;
  max-height: 70vh;
  margin-top: 100px;
  position: relative;
  justify-content: center;
}

.homeImg {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.greetingBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  backdrop-filter: brightness(90%);
  height: 20vh;
  top: 40%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer {
  display: flex;
  text-align: center;
}