.main {
  display: flex;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  padding: 1rem;
  width: 100vw;
  height: 100px;
}

.navImg {
  display: flex;
  height: 100%;
  margin: 0.5rem;
  max-width: 40%;
  object-fit: contain;
}

.linkList {
  display: flex;
  width: fit-content;
  justify-self: end;
}

.navLink {
  display: flex;
  margin: 1rem;
}