.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  padding: 1rem;
  width: 100vw;
  height: 100px;
  box-shadow: 1px 1px 2px #757575;
  z-index: 2;
}

.navImg {
  display: flex;
  height: 100%;
  margin: 0.5rem;
  max-width: 40%;
  object-fit: contain;
}

.linkList {
  display: flex;
  width: fit-content;
  justify-self: end;
}

.navLink {
  display: flex;
  margin: 1rem;
  list-style: none;
}

.homeImgContainer {
  display: flex;
  max-height: 70vh;
  margin-top: 100px;
  position: relative;
  justify-content: center;
}

.homeImg {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.greetingBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  backdrop-filter: brightness(90%);
  height: fit-content;
  font-size: 2.5rem;
  text-align: center;
  top: 30%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 6px;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  background-color: #d36795;
  border: none;
  border-radius: 30px;
  width: fit-content;
  padding: 1rem;
  color: white;
  margin-top: 1rem;
  box-shadow: 1px 1px 2px #757575;
}

.navLink:link {
  color: #d36795;
  text-decoration: none;
}

.navLink:visited {
  color: #007BCC;
  text-decoration: none;
}

.researchContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 3rem;
}

.researchListTitle {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.researchList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.researchListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 1px 1px 2px #757575;
}